<div id="<%= dom_id l_produto %>">
  <p>
    <strong>L categoria:</strong>
    <%= l_produto.l_categoria_id %>
  </p>

  <p>
    <strong>Titulo:</strong>
    <%= l_produto.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= l_produto.descricao %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= l_produto.preco %>
  </p>

  <p>
    <strong>Quantidade estoque:</strong>
    <%= l_produto.quantidade_estoque %>
  </p>

</div>
