<div class="sidebar sidebar-dark sidebar-main sidebar-expand-xl" style="background:  #03592d;">
  <div class="sidebar-content">
    <div class="sidebar-section">
      <div class="sidebar-section-body d-flex justify-content-center">
        <h5 class="sidebar-resize-hide flex-grow-1 my-auto"><b>Menu</b></h5>
        <div>
          <button
            type="button"
            class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-xl-none"
          >
            <i class="ph-x"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Barra de pesquisa -->
    <div class="sidebar-section-body">
      <div class="form-control-feedback form-control-feedback-end">
        <input type="search" id="sidebar-search-input" class="form-control" placeholder="Pesquisar" onkeyup="filterSidebar()"/>
        <div class="form-control-feedback-icon">
          <i class="ph-magnifying-glass opacity-50"></i>
        </div>
      </div>
    </div>
    <!-- Itens da sidebar -->
    <div class="sidebar-section">
      <ul class="nav nav-sidebar" data-nav-type="accordion" id="sidebar-items">
        <li class="nav-item">
          <a href="<%= root_path %>" class="nav-link" id="home-link" data-no-close>
            <i class="ph-house"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= l_tipo_usuarios_path %>" class="nav-link" id="l-tipo-usuarios-link" data-no-close>
            <i class="ph-users-three"></i>
            <span>Tipos de Usuário</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= l_segmentos_path %>" class="nav-link" id="l-segmentos-link" data-no-close>
            <i class="ph-circles-three-plus"></i>
            <span>Segmentos</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= l_categorias_path %>" class="nav-link" id="l-segmentos-link" data-no-close>
            <i class="ph-folders"></i>
            <span>Categorias</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= l_produtos_path %>" class="nav-link" id="l-produtos-link" data-no-close>
            <i class="ph-package"></i>
            <span>Produtos</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= l_profissionais_path %>" class="nav-link" id="l-profissionais-link" data-no-close>
            <i class="ph-user-circle"></i>
            <span>Profissionais</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
  function filterSidebar() {
    const input = document.getElementById('sidebar-search-input');
    const filter = input.value.toLowerCase();
    const navItems = document.querySelectorAll('#sidebar-items .nav-item, #sidebar-items .nav-item-header');

    navItems.forEach(item => {
      const text = item.textContent.toLowerCase();
      const isCollapsible = item.querySelector('.nav-group-sub');

      if (text.includes(filter)) {
        item.style.display = ''; // Mostra o item
        if (isCollapsible) {
          isCollapsible.classList.add('show'); // Abre a seção colapsável
        }
      } else {
        item.style.display = 'none'; // Oculta o item
      }
    });
  }
</script>