<%= render "shared/context_nav", title: t("activerecord.models.#{Titulo.model_name.i18n_key}.other"), new_path: new_titulo_path do  %>
<span class="breadcrumb-item active"><%= t("activerecord.models.#{Titulo.model_name.i18n_key}.other") %></span>
<% end %>
<div class="card">
  <div class="card-header d-flex">
    <%= search_form_for @q, html: { class: "d-flex gap-2" , autocomplete: "off"} do |f| %>
      <%= f.button(type: 'submit', class: 'btn btn-info') { tag.i(class: 'ph-magnifying-glass') } %>
      <%= link_to  tag.i(class: 'ph-x-circle'), titulos_path, class: "btn btn-light" if params[:q] %>
      <% end %>
    </div>
    <div class="card-body">
      <div class= "table-responsive">
        <table class="table table-sm table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-center">Ações</th>
              
                
                  <th><%= sort_link(@q, :conteudo_text, t("activerecord.attributes.titulo.conteudo_text")) %></th>
                
                
                  <th><%= sort_link(@q, :data_evento, t("activerecord.attributes.titulo.data_evento")) %></th>
                
                
                  <th><%= sort_link(@q, :l_categoria, t("activerecord.attributes.titulo.l_categoria")) %></th>
                
            </tr>
          </thead>
          <tbody>
            <% @titulos.each do |titulo| %>
            <tr>
              <td class="text-center">
                <div class="dropdown-toggle">
                  <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ph-gear"></i>
                  </a>
                  <div class="dropdown-menu" style="">
                    <div class="dropdown-header">Opções</div>
                    <%= link_to edit_titulo_path(titulo), class: "dropdown-item" do %>
                    <i class="ph-pen me-2"></i> Editar
                    <% end %>
                    <%= form_for titulo, method: :delete do |f| %>
                    <a class="dropdown-item hand-pointer " data-confirm-delete="<%= titulo_path(titulo) %>" data-csrf-token="<%= form_authenticity_token %>">
                      <i class="ph-trash-simple me-2"></i>Excluir
                    </a>
                    <% end %>
                      
                        <td><%= titulo.conteudo_text %></td>
                      
                      
                        <td><%= titulo.data_evento %></td>
                      
                      
                        <td><%= titulo.l_categoria %></td>
                      
                  </div>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <%= pagy_bootstrap_nav(@pagy, link_extra: 'class="btn btn-outline-secondary btn-sm mx-1"').html_safe %>
    </div>
  </div>
