<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar L Tipo Usuario</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @l_tipo_usuario %>">
          <p>
            <strong>Description:</strong>
            <%= @l_tipo_usuario.description %>
          </p>
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_l_tipo_usuario_path(@l_tipo_usuario), class: "btn btn-primary" do %>
        <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", l_tipo_usuarios_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @l_tipo_usuario, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
