<%= render "shared/context_nav", title: t("activerecord.models.#{LCategoria.model_name.i18n_key}.other"), new_path: new_l_categoria_path do  %>
  <span class="breadcrumb-item active"><%= t("activerecord.models.#{LCategoria.model_name.i18n_key}.other") %></span>
<% end %>
<div class="card">
  <div class="card-header d-flex">
    <%= search_form_for @q, url: l_categorias_path, html: { class: "d-flex gap-2" , autocomplete: "off"} do |f| %>
      <%= f.search_field :nome_cont, class: "form-control", placeholder: "Pesquisar" %>
      <%= f.button(type: 'submit', class: 'btn btn-info') { tag.i(class: 'ph-magnifying-glass') } %>
      <%= link_to  tag.i(class: 'ph-x-circle'), l_categorias_path, class: "btn btn-light" if params[:q] %>
    <% end %>
  </div>
  <div class="card-body">
    <div class= "table-responsive">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center">Ações</th>
            <th><%= sort_link(@q, :nome, t("activerecord.attributes.l_categoria.nome")) %></th>
            <th><%= sort_link(@q, :descricao, t("activerecord.attributes.l_categoria.descricao")) %></th>
            <th><%= sort_link(@q, :l_segmento, t("activerecord.attributes.l_categoria.l_segmento")) %></th>
          </tr>
        </thead>
        <tbody>
          <% @l_categorias.each do |l_categoria| %>
            <tr>
              <td class="text-center">
                <div class="dropdown-toggle">
                  <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ph-gear"></i>
                  </a>
                  <div class="dropdown-menu" style="">
                    <div class="dropdown-header">Opções</div>
                    <%= link_to edit_l_categoria_path(l_categoria), class: "dropdown-item" do %>
                      <i class="ph-pen me-2"></i> Editar
                    <% end %>
                    <%= form_for l_categoria, method: :delete do |f| %>
                      <a class="dropdown-item hand-pointer " data-confirm-delete="<%= l_categoria_path(l_categoria) %>" data-csrf-token="<%= form_authenticity_token %>">
                        <i class="ph-trash-simple me-2"></i>Excluir
                      </a>
                    <% end %>
                    <td><%= l_categoria.nome %></td>
                    <td><%= l_categoria.descricao %></td>
                    <td><%= l_categoria.l_segmento %></td>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= pagy_bootstrap_nav(@pagy, link_extra: 'class="btn btn-outline-secondary btn-sm mx-1"').html_safe %>
  </div>
</div>
