<div id="<%= dom_id l_evento %>">
  <p>
    <strong>Titulo:</strong>
    <%= l_evento.titulo %>
  </p>

  <p>
    <strong>Conteudo:</strong>
    <%= l_evento.conteudo %>
  </p>

  <p>
    <strong>Data evento:</strong>
    <%= l_evento.data_evento %>
  </p>

  <p>
    <strong>L categoria:</strong>
    <%= l_evento.l_categoria_id %>
  </p>

</div>
