<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Metadados  -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% # Dependências CSS %>
    <%= stylesheet_link_tag "/layout/assets/fonts/inter/inter.css",         "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/icons/phosphor/styles.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/all.min.css",               "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/animate.min.css",           "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "devise",                                                         "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% # App JS do projeto %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>